{
    "presets": ["babel-preset-expo"],
    "env": {
        "development": {
            "plugins": ["transform-react-jsx-source"]
        }
    },
    "plugins": [["module-alias", [{ "src": "./src", "expose": "src" }, { "src": "./", "expose": "root" }]]]
}
